* {box-sizing: border-box;
}
html, body{
  font-family: 'Open Sans', sans-serif;

}

body {
  background-color: black;

}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.conteiner {
    width: 1920px;
    height: 1573px;
    margin: 0 auto; 
    background-image: url("img/background.png" );
    border: 1px solid black;
      
}

.qwery {
  float: left;
  color:#FFFFFF;
  margin-left: 85px ;
  margin-top: 58px;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0.01em;
  text-align: left;

}

.menu {
  float: right;
  margin-top: 66px;
 
}

.search {
  float: right;
  padding-left: 616px;


}

nav a{
  padding-right: 50px;
  color: #FFFFFF;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;

}

input {
  background-color: transparent;

}

::placeholder {
  color: #FFFFFF;
}

h4{
  color: #FFC178;
  width: 950px;
  padding-left: 104px;
  text-transform: uppercase;
  height: 25px;
  margin-top: 287px;
  margin-left: 500px;
  position: relative;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 6px;

}

h4::before{
  content: "";
  display: block;
  width: 72px;
  height: 2px;
  border-top: 2px solid  #FFC178;
  position: absolute;
  top: 8px;
  left: 0;
  
} 

.discover{
  color: #FFFFFF;
  width: 950px;
  margin-left: 500px;
  font-size: 96px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0em;
  text-align: left;
}

.wonderful {

font-size: 88px;
font-weight: 400;
line-height: 100px;
letter-spacing: 0em;
text-align: left;
margin: 0 auto;
}

.picture-block {
  width: 1462px;
  height: 720px;
  margin: 0 auto;
  position: relative;
  top: -143px;
}

.left-block {
  float: left;
  width: 598px;
 
}

.right-block {
  float: right;
  width: 632px;
  color: white;
  padding-top: 74px;
}

.nusa{
  color: #FFC178;
  padding-left: 94px;
  text-transform: uppercase;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 6px;

}

.nusa::before{
  content: "";
  display: block;
  width: 72px;
  height: 2px;
  border-top: 2px solid  #FFC178;
  position: absolute;
  top: 8px;
  left: 0;
  
} 

.top_head{
  font-size: 64px;
  font-weight: 700;
  line-height: 87px;
  letter-spacing: 0em;
  text-align: left;
  margin: 40px;
  margin: 0 auto;

}

.top_text {
font-size: 18px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0px;
text-align: left;
}

.read {
  color: #FFC178;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
}

.arrow {
  padding-left: 9px;
}

.center_blk {
  width: 1461px;
  height: 985px;
  margin: 0 auto;
  background-image: url("img/image2.png");

}

.in_block{
  margin: 0 auto;
  width: 1461px;
  height: 440px;
}

.bromo {
  color: #FFC178;
  width: 296px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 6px;
  margin: 0 auto;
  position: relative;
  padding-left: 94px;
  top: 533px;

}

.bromo::after{
  content: "";
  display: block;
  width: 72px;
  height: 2px;
  border-top: 2px solid  #FFC178;
  position: absolute;
  top: 8px;
  right: 0;
  
}

.bromo::before{
  content: "";
  display: block;
  width: 72px;
  height: 2px;
  border-top: 2px solid  #FFC178;
  position: absolute;
  top: 8px;
  left: 0;
}

.main_head {
  color: #FFFFFF;
  margin: 0 auto;
  width: 705px;
  font-size: 64px;
  font-weight: 700;
  line-height: 87px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 582px;
  margin-bottom: 27px;
}

.center_text{
  color: #FFFFFF;
  width: 934px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
}

.read_center {
  margin: 0 auto;
  text-align: center;
  color: #FFC178;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  margin-top: 39px;
}

.arrow1 {
  float: right;
  padding-right: 39px ;

}

.arrow2 {
  float: left;
  padding-left: 49px;
}

/* new block */

.picture2-block {
  width: 1462px;
  height: 720px;
  margin: 0 auto;
  margin-top: 226px;
  margin-bottom: 250px;
}

.l-block {
float: right;
  width: 598px;
 
}

.r-block {
  float: left;
  width: 632px;
  color: white;
  padding-top: 74px;
  margin-left: 49px;

}

.nusa{
  color: #FFC178;
  padding-left: 94px;
  text-transform: uppercase;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 6px;

}

.nusa::before{
  content: "";
  display: block;
  width: 72px;
  height: 2px;
  border-top: 2px solid  #FFC178;
  position: absolute;
  top: 8px;
  left: 0;
  
} 

.top_head{
  font-size: 64px;
  font-weight: 700;
  line-height: 87px;
  letter-spacing: 0em;
  text-align: left;
  margin: 40px;
  margin: 0 auto;

}

.top_text {
font-size: 18px;
font-weight: 600;
line-height: 32px;
letter-spacing: 0px;
text-align: left;
}

.read {
  color: #FFC178;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
}

.arrow {
  padding-left: 9px;
}

.top_footer {
width: 1462px;
color: #FFFFFF;
margin: 0 auto;

}.ready{
  display: flex;
  height: 69px;
  float: right;

}
.btm_Qwery {
  float: left;
  font-size: 48px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0.01em;
  

}

.ready_text {
  font-family: DM Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.30000001192092896px;
  text-align: right;

}

.start {

  margin: 0 auto;
  width: 239px;
  border-radius: 8px;
  height: 69px;
  background-color:  #FFA343;
  color: black ;
  font-family: DM Sans;
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: center;
  margin-left: 55px;

}

.footer_blk {
  width: 1462px;
  color: #FFFFFF;
  margin: 0 auto;
  margin-top: 104px;

}

.field_email {
  display: inline-block;

}

.email_head {
  width: 361px;
  font-size: 36px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;
  margin-bottom: 50px;

}

#button {
  width: 69px;
  height: 69px;
  border-radius: 8px;
  color: black;
  background-color: #FFA343;
  border: none;
}

.submit {
  border: none;
}

.services{
  display: inline-block;
  margin-left: 252px;
  color:  #FFD1A0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.23181818425655365px;
  text-align: left;
}

.list1 a {
  line-height: 45px;
  color: #FFFFFF;
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -0.20454545319080353px;
  text-align: left;
  text-decoration: none;

}

.about {
  display: inline-block;
  margin-left: 184px;
  color:  #FFD1A0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.23181818425655365px;
  text-align: left;
}

.help {
  display: inline-block;
  margin-left: 184px;
  color:  #FFD1A0;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.23181818425655365px;
  text-align: left;
  vertical-align: top;
}

.footer_section {
  width: 1462px;
  color: #FFFFFF;
  margin: 0 auto;
  margin-top: 104px;
  padding-left: 40px;
  margin-bottom: 160px;

}

.bottom_link1 {
  width: 173px;
  float: left;
  text-align: left;

}

.bottom_link2{
  margin-left: 50px;
  float: left;
  
}
  

.bottom_link1 a, .bottom_link2 a {
 color: #FFFFFF;
 text-decoration: none;

}

.icons {
  float: right;
  color: #FFFFFF;

}

i{
  padding-right: 51px;
  font-family: Open Sans;
  font-size: 36px;
  font-weight: 600;
  line-height: 49px;
  letter-spacing: -0.30000001192092896px;
  text-align: left;


}

.copyright{
  color: white;
  margin: 0 auto;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 118px;
  opacity: 50%;

}

.socials {

  position: fixed;
  margin-left: 78px;
  top: 359px;
  z-index: 3;

}
