html, body{
    font-family: 'Poppins', sans-serif;

}

.flex-container {
    /* display: inline-flex; */
    width: 1522px ;
    }

.header {
    display: inline-block;
    width: 183px;
    /* margin-top: 16px; */
    margin-left: 12px;
    padding-right: 651px;
    font-weight: 600;
}  

.main {
    display: inline-block;
    width: 556px;
    /* text-align: right; */
    font-weight: 500;
    /* font-size: 21px; */
}

.main a{
    padding-left: 24px;
    color: black;
    text-decoration: none;
    /* font-size: 21px; */

}

#buy {
    margin-left: 32px;
    
    border:1px solid #2203E4;
    text-align: center;
    padding: 8px 12px;
    /* width: 150px; */
    background: none;
    color: #2203E4;
    font-weight: 500;

}

.center {
    display: flex;
}
.left_block {
    width: 611px;
    margin-left: 216px;
    margin-right: 58px;
    margin-top: 362px; 

}

.right_block{
    margin-top: 215.05px;
    
}
.left_block h1{
    font-weight: 700;
    margin-bottom:  24px;
}

.left_block span {
    font-weight: 400;
}

#Authors {
    margin-right: 24px;
    margin-top: 24px;
    padding: 10px 16px;
    background-color: #0062FF;
    font-weight: 400; 
    color: white;
    border:1px solid #0062FF;
    text-align: center;


}


#check{
    padding: 10px 16px;
    background-color: white;
    font-weight: 400; 
    color:  #575757;
    border:1px solid #575757;
    text-align: center;

}
/* Не могу сделать паддинг в 12px */
#center1{ 
    margin-left: 420.5px;
    width: 611px;
    text-align: center;
    font-weight: 400;
    padding-top: 118.81px;
    font-size: 16px;
  
}


.conteiner{
    display: flex;
}

.face{
    width: 150px;
    height: 150px;
    border: none;
    background-color: none;
    border-radius: 100px;
    padding-left: 131px;
    padding-top: 48.5px;  
    padding-right: 46px;
    /* overflow: hidden; */

}

.name {
    width: 641px;

}

.conteiner .name h3{
    font-weight: 600;
    font-size: 27px;
    padding-top: 36px;
    margin: 0 auto;

}

.conteiner .name h4{
    color: #575757;
    font-weight: 500;
    padding-bottom: 12px;
    /* font-size: 21px; */
    margin: 0 auto;
}

.conteiner .name span{
    color: #575757;
    font-weight: 400;
    /* padding-bottom: 48.5px; */
    /* font-size: 16px; */
}

.network {
    display: flex;
}
.name_job {
    width: 205px;
    padding-left: 128px;
    padding-top: 43px;
}

#top{
    color: #DEA405;
    font-weight: 500;
    margin: 0 auto ;
    /* font-size: 21px; */
}

#prog{
    color: #FFBE0B;
    font-weight: 400;
    font-size: 16px;
}

#name0{
    padding-top: 8px;
    font-weight: 600;
    font-size: 27px;
    margin: 0 auto ;
}

#Graphic{
    color: #575757;
    /* font-size: 21px; */
    margin: 0 auto ;
}

#name1{
    color: #DEA405;
    font-weight: 500;
    margin: 0 auto ;
    padding-top: 8px;
    
}

#Analyst {
    color: #FFBE0B;
    font-weight: 400;
    
    
}

.network {
    margin-top: 25.56px;
    margin-bottom: 115px;
    
}

.network1 a {
    padding-right: 19px;
}

section{
    background-color:  #0062FF;
    width: 1522px ;

}

.for {
    
    color: #FFFFFF;

}
.head {
    text-align: center;
    padding-top: 71px;
    padding-bottom: 64px;


}

.text_cart_top{
    display: flex;
    margin-left: 123.5px;
}

.text_cart_bottom{
    display: flex;
    margin-left: 123.5px;
}

.students{
    display: flex;
}

.freelaners {
    display: flex;
    padding-left: 48px;
}

.agency {
    display: flex;

}

.marketers {
    display: flex;
    padding-left: 48px;
}

h3{
    font-weight: 600;
    font-size: 27px;
    
}

span{
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    color: #575757;

}

.who {
    font-weight: 600;
    font-size: 36px;
    margin: 0 auto;
    padding-bottom: 16px;
}

#photo_students {
    margin-right: 34px;
    margin-bottom: 46px;
}

.button {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 71px;
    padding-top: 64px;
}

#butt {
    padding: 10px 16px;
    color:  #2203E4;
    
}

#center2{ 
    width: 1522px ;
    text-align: center;
    padding-top: 63px;
    
}
#center2 h2{
    font-weight: 600;
    font-size: 36px; 
}

.section {
    display: flex;
    margin-top: 44px;
}
.left_section{
    margin-left: 205px;
    padding-right: 48px;
    text-align: center ;

}

#text_1 h4  {
    font-weight: 500;
    font-size: 21px;
    
}

#text_1 span{
    font-weight: 400;
    font-size: 16px; 
}

.yellow_block {
    width: 1522px ;
    background-color: #FFBE0B;
    text-align: center;
    margin-top: 141.5px;
    padding-bottom: 67px;
}

.yellow_block #center2 {
    padding-top: 67px ;
    margin-bottom: 42px;

}

.yellow_block #center2  h2{
    margin: 0 auto;
    padding-bottom: 12px;

}

.stars h4{
    font-weight: 500;
    font-size: 21px;
    margin: 0 auto;
    padding-bottom: 16px;
}

.stars h3{
    font-weight: 600;
    font-size: 27px;
}
.white_block{
    display: flex;
    width: 702px;
    background-color: white;
    margin: 0 auto;
    text-align: left;
    border-radius: 12px;
   
}

#vector{

   margin-top: 94.5px;
   margin-left: 16px;
   margin-bottom: 94.5px;
}
/*  вопрос па марджинам */
.stars{
    margin-left: 12px;
    margin: 0 auto;
    padding-top: 59.5px;
    /* margin-bottom: 59.5px; */
}
.stars h3 {
    margin: 0 auto;
    padding: 0%;
    
}

.bottom {
    display: flex;
    margin-left: 280px;
    padding-top: 74px;
}

.cart {
    padding-top: 73px;
}

.product_title{
    color: #2203E4;
    font-weight: 600;
    font-size: 36px;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;

}

.text_title {
    padding-bottom: 16px;
}
.cart1 {
  
    margin-top: 16px;
    padding: 10px 16px;
    background-color:#0062FF;
    font-weight: 400; 
    color: white;
    border:1px solid #0062FF;
    text-align: center;
}

footer {
    text-align: center;
    width: 1522px ;
}

#discount {
    font-weight: 600;
    font-size: 27px;
}

.field {
    background: rgba(58, 134, 255, 0.2);  
    padding: 24px;
    width: 508px;
    margin-top: o auto;
    border-radius: 12px;
    border:0
}

.cart2 {
    margin-top: 14px ;
}

::placeholder{
    color: #2203E4;
    font-weight: 400;
    font-size: 16px;
}

.cart2{
    background-color: #0062FF;
    width: 562px;
    padding: 10px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 103px;
    border:0;

}
