.center {
    text-align: center;
}

.hover-btn{
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid red;
    background-color: black;
    color: white;

}

.hover-btn:hover{
     border: 2px solid black;
    background-color: red;
    color: white;
}

.hover-card {
    margin: 50px auto;
    border: 2px solid red;
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 200px;
    background-color: white;

}

.hover-block{
    width: 200px;
    height: 100px;
    padding: 20px;
    text-align: center;
    background-color: blue;
    position: absolute;
    color: red;
    top: -100px;

}

.hover-card:hover .hover-block{
    top: 0;

}

h1 {
    position: relative;
    margin-left: 30px;
}
h1::before{
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: brown;
    border: 3px solid red;
    position: absolute;
    left: 10px;
    top: -10px;

}

.simple-background {
    width: 480px;
    height: 480px;
    background-color: yellow;
    background-image: url("img/avatar.png");
}

.double-bg {
    height: 2900px;
    background-image: url("img/avatar.png"), url("img/1.webp");
    background-repeat: no-repeat;
    background-position: center;
}

.bg-size {
    border: 5px solid black;
    height: 700px;
    background-image: url("img/avatar.png");
    /* background-size: cover; */
    /* background-size: contain; */
    /* background-repeat: no-repeat;
    background-position: center ;
    background-size: 10%; */

}

.big-bg {
    background-image: url("img/bg.jpeg");
    width: 1200px;
    padding: 1100px;
    height: 800px;
    /* margin: 0 auto; */
    color: white;
    overflow: hidden;
    background-attachment: fixed;


}