*{box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.conteiner {
    width: 90%;
    margin: 0 auto;
    /* overflow: hidden; */
    border: 1px solid red;
 

}

.rel, .rel1 {
    background-color: goldenrod;
    border: 1px solid gray;
    width: 200px;
    height: 100px;
    float: left;
    position: relative;
    
}

.rel.fixed{
    
}

p {
    width: 50px;
}

header {
    background-color: bisque;
    width: 100%;
    height: 100px;
    padding: 10px;
    position: sticky;
    z-index: 5;
    top: 0;
}
button { 
    padding: 5px 10px;
    position: relative;
    background-color: aquamarine;
    color: blueviolet;
    text-align: center;
    border: none;
    border-radius: 3px;
}

button span {
    display: inline-block;
    padding: 5px;
    background-color: white;
    color: black;
    border-radius: 50px;
    background-color: chartreuse;
    position: absolute;
    right: -15px;
    top: -10px;

}

button:hover {
    background-color: brown;
    border: none;
    color: black;
    
}

button:hover span {
    background-color: yellow;
    border: 2px solid black;
}

.table {
    display: table;
    margin: 0 auto;
    width: 1000px;
    border: 1px solid salmon;
    margin-top: 30px;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    width: 300px;
    height: 100px;
    border: 1px solid black;
}

.cell:nth-child(1) {

    height: 50px;
    vertical-align: top;

}

.cell:nth-child(2) {

    height: 100px;
    vertical-align: middle;

}

.cell:nth-child(3) {

    height: 150px;
    vertical-align: bottom;

}

@font-face {
    font-family: "customName";
    src: url("/fonts/OpenSans-Regular-webfont.woff2") format("woff2");
    src: url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
}